@inherits LayoutComponentBase

<div class="layout">
    <aside>
        <h2>ActiveVolume</h2>
        <DWIS.Service.ActiveVolume.WebPages.ActiveVolumeNavMenu />
    </aside>
    <main>
        @Body
    </main>
</div>
