<nav class="activevolumecalibration-nav">
    <a href="/activevolumecalibration/webapp">Home</a>
    <a href="/activevolumecalibration/webapp/activevolumecalibration/cases">Active Volume Cases</a>
    <a href="/activevolumecalibration/webapp/activevolumecalibration/batch-imports">Batch Imports</a>
    <a href="/activevolumecalibration/webapp/activevolumecalibration/calibrations">Calibrations</a>
    <a href="/activevolumecalibration/webapp/activevolumecalibration/online">Online Cases</a>
    <a href="/activevolumecalibration/webapp/activevolumecalibration/jobs">Jobs / Processing</a>
    <div class="activevolumecalibration-nav-group">Context</div>
    <a href="/Field/webapp/Field">Field</a>
    <a href="/Cluster/webapp/Cluster">Cluster</a>
    <a href="/Well/webapp/Well">Well</a>
    <a href="/WellBore/webapp/WellBore">WellBore</a>
    <a href="/WellBoreArchitecture/webapp/WellBoreArchitecture">WellBore Architecture</a>
    <a href="/DrillString/webapp/DrillString">Drill String</a>
    <div class="activevolumecalibration-nav-group">Calculators</div>
    <a href="/UnitConversion/webapp/UnitConversion">Unit Conversion</a>
    <a href="/VerticalDepth/webapp">Vertical Depth</a>
</nav>
